# vim: ft=bash
PATH_add .
PATH_add bin

export SECRET=secret

command -v brew && {
  PATH_add $(brew --prefix)/bin
}

[[ -f .env ]] && 
  # append export to the variables
  eval "$(cat .env | sed '/^#.*$/d; /^[ \t]*$/d; s/^/export /g; s/$/; /g' | tr -d '\n')"
