[submodule "lib/json-c"]
	path = lib/json-c
	url = https://github.com/json-c/json-c.git
[submodule "lib/httpserver.h"]
	path = lib/httpserver.h
	url = https://github.com/jeremycw/httpserver.h
[submodule "lib/log.c"]
	path = lib/log.c
	url = https://github.com/rxi/log.c
