# vim: ft=bash
PATH_add .
PATH_add bin

command -v brew && {
  PATH_add $(brew --prefix)/bin
}

source .venv/bin/activate

[[ -f .env ]] && 
  # append export to the variables
  eval "$(cat .env | sed '/^#.*$/d; /^[ \t]*$/d; s/^/export /g; s/$/; /g' | tr -d '\n')"
